body {
	height: 100vh;
	margin: 0;
	background-color: rgb(56, 0, 95);
	display: flex;
	justify-content: center;
	align-items: center;
}

canvas {
	background-color: blanchedalmond;
	width: 1080px;
	height: 608px;
}
